.duplicate-groups {
  margin-top: var(--spacing-6);

  .execute-section {
    p {
      margin-bottom: var(--spacing-6);
    }
  }

  h3 {
    margin-top: var(--spacing-6);
    margin-bottom: var(--spacing-4);
  }
}