# Binary
riffle
/tmp

# Environment
.env

# Database
riffle.db
riffle.db-shm
riffle.db-wal

# Test folders
inbox/
library/
trash/

# Go
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
go.work
go.work.sum

# Web assets
/assets/bundle.js
/assets/bundle.js.map
/assets/bundle.css
/assets/bundle.css.map
