.duplicate-group {
  margin-bottom: var(--spacing-6);
  padding: var(--spacing-4);
  background-color: var(--bg-secondary);
  border-radius: 4px;
}

.group-header {
  margin: var(--spacing-4);
  font: var(--sm);
  color: var(--neutral-500);
}

.group-files {
  display: flex;
  flex-direction: row;
}

.duplicate-file {
  padding: var(--spacing-4);
  display: flex;
  gap: var(--spacing-4);
  flex-direction: column;
}

.duplicate-file-media {
  width: 100%;
  border-radius: 4px;
  margin-bottom: var(--spacing-2);
  box-shadow: var(--shadow-4);

  &.clickable {
    cursor: pointer;
  }
}

.file-info {
  flex: 1;
}

.badges {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: var(--spacing-2);
  margin-bottom: var(--spacing-2);
}

.badge {
  padding: 2px 6px;
  border-radius: 3px;
  font: var(--sm);

  &.badge-kept {
    background-color: var(--green-500);
    color: white;
  }

  &.badge-exif {
    background-color: var(--neutral-200);
  }

  &.badge-info {
    background-color: var(--neutral-100);
    color: var(--neutral-600);
  }

  &.badge-near-match {
    background-color: var(--yellow-100);
    color: var(--neutral-700);
    margin-left: var(--spacing-2);
  }
}

.file-path {
  font: var(--sm);
  word-break: break-all;
  color: var(--neutral-600);
}