.import-page {
  padding: 8px;
  padding-top: 0;
}

.import-sessions {
  display: flex;
  flex-direction: column;
  margin-top: 16px;
}

.import-empty-state {
  padding: var(--spacing-6);
  text-align: center;
  color: var(--text-secondary);
  background-color: var(--bg-secondary);
  border-radius: 8px;
}

.import-empty-state p {
  font: var(--sm);
}

.import-action {
  display: flex;
  justify-content: flex-start;
  padding: 16px 8px;
}

.session-detail-container {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-3);
}

.session-detail-error {
  color: var(--red-600);
}

.import-progress-container {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-4);
}

.import-help {
  font-size: 14px;
  color: var(--text-secondary);
}

.import-steps {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-3);
}

.import-step-container {
  display: flex;
  align-items: center;
  gap: var(--spacing-3);
}

.import-step-done,
.import-step-inprogress,
.import-step-notstarted {
  margin-top: 2px;

  svg.lucide {
    width: 24px;
    height: 24px;

    line,
    circle,
    rect,
    path {
      stroke-width: 2;
      stroke: var(--neutral-500);
    }
  }
}

.import-step-inprogress {
  svg.lucide {
    circle {
      stroke: var(--neutral-300);
    }

    path {
      stroke: var(--yellow-400);
      transform-origin: 12px 12px;
      animation: spin 1s linear infinite;
    }
  }
}

.import-step-done {
  svg.lucide {
    circle {
      stroke: var(--green-500);
      fill: var(--green-500);
    }

    path {
      stroke: var(--neutral-50);
    }
  }
}

.import-step-notstarted {
  svg.lucide {
    path {
      stroke: var(--neutral-300);
    }
  }
}

.import-step-subtext {
  font-size: 14px;
  color: var(--text-secondary);
  margin-top: var(--spacing-1);
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}