.import-card-initial {
  display: flex;
  margin-top: calc(50vh - 90px);
  flex-direction: column;
  align-items: center;

  .import-button {
    margin-bottom: var(--spacing-3);
  }

  .help {
    font: var(--sm);
    text-align: center;
    line-height: 1.5;
    color: var(--neutral-500);
  }
}

.import-card-container {
  display: flex;
  justify-content: center;

  .import-card {
    display: flex;
    margin-top: calc(50vh - 200px);
    flex-direction: column;
    width: 400px;

    h3 {
      margin-top: 0;
    }

    .help {
      font: var(--sm);
      line-height: 1.5;
      color: var(--neutral-500);
    }

    .progress-container {
      display: flex;
      flex-direction: column;
      margin-top: var(--spacing-1);
      gap: var(--spacing-1);

      .step-container {
        display: flex;
        align-items: center;
        gap: 8px;
        margin: var(--spacing-2) 0;

        svg.lucide {
          width: 24px;
          height: 24px;

          line,
          circle,
          rect,
          path {
            stroke-width: 2;
            stroke: var(--neutral-500);
          }
        }

        .subtext {
          font: var(--sm);
          line-height: 1.5;
          color: var(--neutral-500);
        }

        .step-inprogress {
          svg.lucide {
            circle {
              stroke: var(--neutral-300);
            }

            path {
              stroke: var(--yellow-400);
              transform-origin: 12px 12px;
              animation: spin 1s linear infinite;
            }
          }
        }

        .step-done {
          svg.lucide {
            circle {
              stroke: var(--green-500);
              fill: var(--green-500);
            }

            path {
              stroke: var(--neutral-50);
            }
          }
        }

        .step-notstarted {
          svg.lucide {
            path {
              stroke: var(--neutral-300);
            }
          }
        }
      }
    }

    .results-summary {
      margin-top: var(--spacing-4);
      font: var(--sm);

      .result-message {
        font: var(--p1);
        color: var(--neutral-700);
        font-weight: 500;
      }

      .result-submessage {
        font: var(--sm);
        color: var(--neutral-500);
        margin-top: var(--spacing-1);
      }

      .result-primary {
        font: var(--p1);
        color: var(--neutral-700);
        font-weight: 500;
      }

      .result-detail {
        font: var(--sm);
        color: var(--neutral-500);
        margin-top: var(--spacing-1);
      }
    }

    .action-buttons {
      display: flex;
      gap: var(--spacing-2);
      margin-top: var(--spacing-4);
    }
  }
}