.scan-results-card {
  margin-top: var(--spacing-6);
  background-color: var(--bg-secondary);
  padding: 16px;
  border-radius: 4px;

  h3 {
    margin-top: 0;
  }

  .help {
    font: var(--sm);
    line-height: 1.5;
    color: var(--neutral-500);
    margin: 4px 0;
  }

  .button {
    margin-top: 16px;
  }
}