.scan-results-card {
  margin-top: var(--spacing-6);

  h3 {
    margin-top: 0;
  }

  .help {
    font: var(--sm);
    line-height: 1.5;
    color: var(--neutral-500);
  }

  .results-table {
    td {
      padding: var(--spacing-1) 0;
      padding-right: var(--spacing-6);

      &:last-child {
        text-align: right;
        font-weight: 600;
      }
    }
  }
}