.description-list {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-3);
}

.description-item {
  display: flex;
  flex-direction: column;
  margin-bottom: var(--spacing-3);
}

.description-item-label {
  font-size: 12px;
  color: var(--neutral-400);
  font-weight: 500;
}

.description-item-value {
  font: var(--code);
  color: var(--text-primary);
}
