.pagination-container {
  display: flex;
  flex-direction: row-reverse;
}

.pagination {
  display: flex;
  height: 36px;
  align-items: center;
  border-radius: 6px;
  border: 1px solid var(--neutral-100);
  overflow: hidden;
  background-color: var(--bg-primary);
  box-shadow: var(--shadow-1);
  font: var(--sm);
  font-weight: 600;
  color: var(--text-primary);

  .pagination-text {
    padding: 0 12px;
  }

  a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 34px;
    padding: 8px;
    line-height: 1;
    text-decoration: none;
    transition-property: background-color;
    transition-duration: var(--transition-normal);

    &:hover {
      background-color: var(--neutral-100);
      cursor: pointer;
    }

    &:active {
      transform: scale(0.95);
      transition: transform var(--transition-fast) ease-out;
    }

    &.disabled {
      cursor: not-allowed;

      svg.lucide {

        line,
        circle,
        rect,
        path {
          stroke: var(--neutral-400);
        }
      }

      &:hover {
        background-color: transparent;
      }

      &:active {
        transform: none;
      }
    }

    svg.lucide {
      width: 20px;
      height: 20px;
    }
  }
}