.selection-count {
  display: flex;
  align-items: stretch;
  height: 32px;
  background-color: var(--neutral-100);
  border-radius: var(--radius-1);
  font: var(--sm);
  font-weight: 500;

  .selection-count-text {
    display: flex;
    align-items: center;
    padding: 0 var(--spacing-2);
    user-select: none;
  }

  .selection-count-close {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    padding: 0;
    border: none;
    border-radius: 0 var(--radius-1) var(--radius-1) 0;
    background: none;
    color: var(--neutral-600);
    cursor: pointer;
    transition: background-color var(--transition-normal);

    &:hover {
      background-color: var(--neutral-300);
    }

    .selection-count-close-icon {
      width: 16px;
      height: 16px;

      path {
        stroke: currentColor;
      }
    }
  }
}
