.library-actions {
  display: flex;
  align-items: center;
  gap: var(--spacing-1);
}

.rating-buttons {
  display: flex;
  gap: 2px;
}

.left-actions {
  display: flex;
  align-items: center;
  gap: var(--spacing-4);
}

.middle-actions {
  display: flex;
  align-items: center;
  gap: var(--spacing-4);
}

.right-actions {
  display: flex;
  align-items: center;
  gap: var(--spacing-4);
  justify-self: end;
}